@{
    ViewBag.Title = "Home Page";
}

<main>
    <div class="container mt-5">
        <div class="text-center mb-5">
            <img src="~/images/logo.png" alt="GCSNC Logo" class="mb-4" style="max-width: 150px;">
            <h1 class="display-4">GCSNC Asset Management</h1>
            <p class="lead">Efficiently manage and track your assets with our comprehensive solution.</p>
            <p>
                <a href="ViewAssets" class="btn btn-primary btn-lg mx-2">View Assets</a>
                <a href="AssignDevice" class="btn btn-secondary btn-lg mx-2">Assign Assets</a>
            </p>
        </div>

    </div>
</main>
